.navbar
{
    background-color: "#282d3c";
}

/*Profile Card 3*/
.profile-card-3 {
    font-family: 'Open Sans', Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    text-align: center;
    height:368px;
    border:none;
  }
  .profile-card-3 .background-block {
      float: left;
      width: 100%;
      height: 200px;
      overflow: hidden;
  }
  .profile-card-3 .background-block .background {
    width:100%;
    vertical-align: top;
    opacity: 0.9;
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
     -webkit-transform: scale(1.8);
    transform: scale(2.8);
  }
  .profile-card-3 .card-content {
    width: 100%;
    padding: 15px 25px;
    color:#232323;
    float:left;
    background:#efefef;
    height:50%;
    border-radius:0 0 5px 5px;
    position: inherit;
    /* z-index: 9999; */
  }
  .profile-card-3 .card-content::before {
      content: '';
      background: #efefef;
      width: 120%;
      height: 100%;
      left: 11px;
      bottom: 51px;
      position: absolute;
      z-index: -1;
      transform: rotate(-13deg);
  }
  .profile-card-3 .profile {
    border-radius: 50%;
    position: absolute;
    bottom: 60%;
    left: 50%;
    max-width: 100px;
    opacity: 1;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 1);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    /* z-index:99999; */
    overflow: hidden;
  }
  .profile-card-3 h2 {
    margin: 0 0 5px;
    font-weight: 600;
    font-size:25px;
  }
  .profile-card-3 h2 small {
    display: block;
    font-size: 15px;
    margin-top:10px;
  }
  .profile-card-3 i {
    display: inline-block;
      font-size: 16px;
      color: #232323;
      text-align: center;
      border: 1px solid #232323;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 50%;
      margin:0 5px;
  }
  .profile-card-3 .icon-block{
      float:left;
      width:100%;
      margin-top:15px;
  }
  .profile-card-3 .icon-block a{
      text-decoration:none;
  }
  .profile-card-3 i:hover {
    background-color:#232323;
    color:#fff;
    text-decoration:none;
  }

  .be-comment-block {
    margin-bottom: 50px !important;
    border: 1px solid #edeff2;
    border-radius: 2px;
    padding: 50px 70px;
    border:1px solid #ffffff;
}

.comments-title {
    font-size: 16px;
    color: #262626;
    margin-bottom: 15px;
    font-family: 'Conv_helveticaneuecyr-bold';
}

.be-img-comment {
    width: 60px;
    height: 60px;
    float: left;
    margin-bottom: 15px;
}

.be-ava-comment {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.be-comment-content {
    margin-left: 80px;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-name {
    font-size: 13px;
    font-family: 'Conv_helveticaneuecyr-bold';
}

.be-comment-content a {
    color: #383b43;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-time {
    text-align: right;
}

.be-comment-time {
    font-size: 11px;
    color: #b4b7c1;
}

.be-comment-text {
    font-size: 13px;
    line-height: 18px;
    color: #7a8192;
    display: block;
    background: #f6f6f7;
    border: 1px solid #edeff2;
    padding: 15px 20px 20px 20px;
}


/* RATING */
.star{
  color: goldenrod;
  font-size: 1.5rem;
  padding: 0 0rem; /* space out the stars */
}
.star::before{
  content: '\2606';    /* star outline */
  cursor: pointer;
}
.star.rated::before{
  /* the style for a selected star */
  content: '\2605';  /* filled star */
}

.stars{
    counter-reset: rateme 0;   
    font-size: 1.0rem;
    font-weight: 900;
}
.star.rated{
    counter-increment: rateme 1;
}
.stars::after{
    content: counter(rateme) '/5';
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
.clearfix {
  *zoom: 1; }

.clearfix:before, .clearfix:after {
  display: table;
  line-height: 0;
  content: ""; }

.clearfix:after {
  clear: both; }

.clear {
  clear: both; }

.oh {
  overflow: hidden; }

.relative {
  position: relative; }

  ::-moz-selection {
    color: #fff;
    background: #000; }
  
  ::-webkit-selection {
    color: #fff;
    background: #000; }
  
  ::selection {
    color: #fff;
    background: #000; }
  

.section-wrap, .section-wrap-mp {
    padding: 150px 0;
    overflow: hidden;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  
.section-wrap-mp {
    padding: 100px 0; }


    .hero-wrap {
      width: 100%;
      display: block;
      position: relative;
      overflow: hidden;
      background-attachment: scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat; }
    
    .hero-holder {
      display: table;
      position: relative;
      width: 100%;
      height: 100%; }
    
    .hero-message {
      display: table-cell;
      vertical-align: middle;
      height: 100%;
      width: 100%;
      text-align: center; }
      .hero-message h1 {
        color: #fff;
        font-size: 56px;
        font-weight: 700;
        line-height: 1; }
    
    .hero-subtitle {
      text-transform: none;
      font-weight: normal;
      color: #fff;
      line-height: 1.5;
      font-size: 20px;
      max-width: 800px;
      margin: 24px auto 0; }
    
    .buttons-holder > a {
      margin: 5px; }
    






    
/* .hero-wrap {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero-holder {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
}

.hero-message {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  text-align: center;
}

.hero-subtitle {
  text-transform: none;
  font-weight: normal;
  color: #fff;
  line-height: 1.5;
  font-size: 20px;
  max-width: 800px;
  margin: 24px auto 0;
} */

.main-wrapper-onepage.angles .result-box {
  padding: 30% 0; }

.section-wrap.angle-top,
.section-wrap.angle-bottom {
  overflow: visible; }
.section-wrap.intro {
  padding: 170px 0 150px;
}

.section-wrap, .section-wrap-mp {
  padding: 150px 0;
  overflow: hidden;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.heading-frame {
  padding: 38px 50px;
  border: 5px solid #111;
  display: inline-block;
}

.intro-heading {
  font-size: 28px;
  margin-bottom: 40px;
}

.intro-text {
  font-size: 17px;
  line-height: 32px;
}

.section-wrap, .section-wrap-mp {
  padding: 150px 0;
  overflow: hidden;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.subheading {
  font-family: "Pt Serif", serif;
  font-size: 16px;
  font-style: italic;
}

.service-item-box {
  background-color: #fff;
  padding: 60px 40px;
  margin-bottom: 30px;
}

.scroll-down {
  font-size: 20px;
  width: 32px;
  height: 32px;
  background-color: #337ab7;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  /* z-index: 50 !important; */
  position: absolute;
  margin-top: 5%;
  left: 50%;
  margin-left: -16px;
}

.scroll-down i {
  color: #fff;
  -webkit-animation: scroll-down-icon 1s infinite;
  -moz-animation: scroll-down-icon 1s infinite;
  -o-animation: scroll-down-icon 1s infinite;
  animation: scroll-down-icon 1s infinite;
  position: absolute;
  left: 10px;
}

/*Go to Top*/
#back-to-top {
  display: block;
  z-index: 500;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 22px;
  position: fixed;
  bottom: -40px;
  right: 20px;
  line-height: 35px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  background-color: #fff;
  text-decoration: none;
  box-shadow: 1px 1.732px 12px 0px rgba(0, 0, 0, 0.14), 1px 1.732px 3px 0px rgba(0, 0, 0, 0.12); }
  #back-to-top i {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; }
  #back-to-top a {
    width: 40px;
    height: 40px;
    display: block;
    color: #111; }
  #back-to-top.show {
    bottom: 20px; }
  #back-to-top:hover {
    background-color: #111; }
  #back-to-top:hover i {
    color: #fff; }